/* Navigation Bar */
.navigation{
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li {
    float: right;
}

ul.nav li.logo {
    float: left;
    background-color: #555;
}

ul.nav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: serif;
}

ul.nav li a:hover {
    background-color: #555;
}

ul.nav li.icon {
    display: none;
}

.navigation select {
    background:white;
    padding:2px;
    font-size:1.25em;
}

/* Responsive media */
@media screen and (max-width: 768px) {
    /*Navigation*/
    ul.nav li:not(:first-child) {
        display: none;
    }

    ul.nav li.icon {
        float: right;
        display: inline-block;
    }

    /*Navigation*/
    ul.nav.responsive {
        position: relative;
    }

    ul.nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.nav.responsive li {
        float: none;
        display: inline;
    }

    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}
.search{
    float:left;
}

.search-options{
    float:right;
    padding: 5px;
    margin-top: 10px;
}

 /* Form wrapper styling */
.search-wrapper {
    width: 240px;
    margin: 5px auto 5px auto;
}

/* Form text input */
.search-wrapper input {
    width: 160px;
    height: 20px;
    padding: 10px 15px;
    float: left;
    font: normal 17px serif;
    border: 0;
    background: #fff;
    border-radius: 5px 0 0 5px;
    box-sizing: initial;
}

.search-wrapper input:hover + .search-wrapper button {
    background: #ccc
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
}

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px;
    font: bold 18px serif;
    color: #e3e3e3;
    background: #c9c9c9;
    border-radius: 0 5px 5px 0;
}

.search-wrapper button:hover{
    background: #9ad3de;
}
