/*Some CSS from http://codepen.io/desireebryant/full/QNpxbY/*/

body{
  padding:0px;
  margin:0px;
  margin-top:30px;
  background-image:
          radial-gradient(circle at 100% 150%, #f4f4f4 24%, white 25%, white 28%, #f4f4f4 29%, #f4f4f4 36%, white 36%, white 40%, transparent 40%, transparent),
          radial-gradient(circle at 0    150%, #f4f4f4 24%, white 25%, white 28%, #f4f4f4 29%, #f4f4f4 36%, white 36%, white 40%, transparent 40%, transparent),
          radial-gradient(circle at 50%  100%, white 10%, #f4f4f4 11%, #f4f4f4 23%, white 24%, white 30%, #f4f4f4 31%, #f4f4f4 43%, white 44%, white 50%, #f4f4f4 51%, #f4f4f4 63%, white 64%, white 71%, transparent 71%, transparent),
          radial-gradient(circle at 100% 50%, white 5%, #f4f4f4 6%, #f4f4f4 15%, white 16%, white 20%, #f4f4f4 21%, #f4f4f4 30%, white 31%, white 35%, #f4f4f4 36%, #f4f4f4 45%, white 46%, white 49%, transparent 50%, transparent),
          radial-gradient(circle at 0    50%, white 5%, #f4f4f4 6%, #f4f4f4 15%, white 16%, white 20%, #f4f4f4 21%, #f4f4f4 30%, white 31%, white 35%, #f4f4f4 36%, #f4f4f4 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.wrapper {
  position: relative;
}

span.usertitle {
  color: #89bdd3;
}

.signup {
  height: 500px;
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  box-shadow: 0px 3px 3px #3d4151;
  padding: 2%;
}

.edit {
    width: 50%;
    border: 1px solid #89bdd3;
    background-color: #e3e3e3;
    border-radius: 5px;
    top: 100px;
    padding: 2rem;
    margin: 2rem auto;
}

.skills {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  section::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
  }
}

label, button, input {
  display: block;
}

label {
  margin-bottom: 2%;
}

button {
  background: #89bdd3;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: #c9c9c9;
}

button:hover {
  color: #89bdd3;
  background: #c9c9c9;
  border: 2px solid #89bdd3;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 2%;
}

fieldset {
  border: none;
}

h1.edit-user-header-header {
  text-align: center;
}