<!--Project Editing Fields-->
    <section class="Edit_Project">
        <header>
            <h1>Edit {{$ctrl.project.title}}</h1>
        </header>
        <form class="edit_project_form">
		
			<div class="form_element">
                <label id="activeField">
                    <span class="Label">Project Status:</span>
                    <br>
                    <br>
					<input type="radio" name="active_status" value="true" ng-model="$ctrl.project.active"> Active
					<input type="radio" name="active_status" value="false" ng-model="$ctrl.project.active"> Archived<br>
					<br>
                </label>
            </div>
            
			<div class="form_element">
                <label>
                    <span class="Label">Short Description:</span>
                    <br>
                    <br>
                    <textarea name="desc" id="short_desc" rows="1" cols="50" class="input_element" required placeholder="Short Description" ng-model="$ctrl.project.short_desc" value="{{$ctrl.project.short_desc}}"></textarea>
                </label>
            </div>

            <div class="form_element">
                <label>
                    <span class="Label">Long Description:</span>
                    <br>
                    <br>
                    <textarea name="desc" id="long_desc" rows="6" cols="50" class="input_element" placeholder="Describe your side-project here" ng-model="$ctrl.project.long_desc" value="{{$ctrl.project.long_desc}}"></textarea>
                </label>
            </div>
            
            <div class="form_element">
                <label>
                    <span class="Label">Tags:</span>
                    <br>
                    <br>
                    <textarea name="desc" id="tags" rows="1" cols="50" class="input_element" ng-model="$ctrl.project.tags" value="{{$ctrl.project.tags}}"></textarea>
                </label>
            </div>

            <!--Slide-bars for skills-->
            <section class="skills">
                <h4 class="Label">Skills:</h4>
                <div class="skill" id="skill1">
                    <select class="skill_name" id="skill_name1">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                    <br>
                    <input type="range" id="range1" min="0" max="100" value="0" step="5" class="slidebar" onchange="showValue(this.value)" />
                    <span id="result1">0</span>
                </div>
                <div class="skill" id="skill2" style="display:none">
                    <select class="skill_name" id="skill_name2">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                    <br>
                    <input type="range" id="range2" min="0" max="100" value="0" step="5" class="slidebar" onchange="showValue(this.value)" />
                    <span id="result2">0</span>
                </div>
                <div class="skill" id="skill3" style="display:none">
                    <select class="skill_name" id="skill_name3">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                    <br>
                    <input type="range" id="range3" min="0" max="100" value="0" step="5" class="slidebar" onchange="showValue(this.value)" />
                    <span id="result3">0</span>
                </div>
                <a href="javascript:void(0)" onClick="addSkills()">
                    <i id="add_button" class="fa fa-plus-circle" style="font-size:24px;"> Add more skills</i>
                </a>
            </section>
			<!--End of Slide-bars for skills-->
            
            <div class="form_element">
                <label id="numContributorsField">
                    <span class="Label">Number of Contributors Needed:</span>
                    <br>
                    <br>
                    <input type="text" id="numContributors" name="numContributors" class="input_element" ng-model="$ctrl.project.num_needed" value="{{$ctrl.project.num_needed}}">
                </label>
            </div>
			
			<div class="form_element">
                <label id="moderatorsField">
                    <span class="Label">Moderators:</span>
                    <br>
                    <br>
                    <input type="text" id="moderators" name="moderators" class="input_element" ng-model="$ctrl.project.moderators" value="{{$ctrl.project.moderators}}">
                </label>
            </div>
			
			<div class="form_element">
                <label id="contributorsField">
                    <span class="Label">Contributors:</span>
                    <br>
                    <br>
                    <input type="text" id="contributors" name="contributors" class="input_element" ng-model="$ctrl.project.contributors" value="{{$ctrl.project.contributors}}">
                </label>
            </div>

            <div class="form_element">
                <label id="Label">
                    <span class="Label">GitHub Link:</span>
                    <br>
                    <br>
                    <input type="text" id="git" name="git" class="input_element" value="{{$ctrl.project.github}}">
                </label>
            </div>
			
			<div class="form_element">
                <label id="Label">
                    <span class="Label">City:</span>
                    <br>
                    <br>
                    <input type="text" id="city" name="city" class="input_element" ng-model="$ctrl.project.city" value="{{$ctrl.project.city}}">
                </label>
            </div>
			
			<div class="form_element">
                <label id="Label">
                    <span class="Label">School:</span>
                    <br>
                    <br>
                    <input type="text" id="school" name="school" class="input_element" ng-model="$ctrl.project.school" value="{{$ctrl.project.school}}">
                </label>
            </div>
			
			<p id="final_skills" ng-model="$ctrl.project.skills_used" style="display:none"> </p>

            <div class="form_element">
                <input id="SubmitButton" type="submit" value="Submit" class="submit_button" onClick="processSkills()" ng-click="$ctrl.editProject()">
            </div>
        </form>
    </section>