<div class="wrapper signUp">
    <div class="signup">
        <h1 class="sign-up-header">Sign Up</h1>
        <form class="signup-form">
            <fieldset>
                <label>Name</label>
                <input type="text" placeholder="Username" ng-model="$ctrl.user.username">
            </fieldset>
            <fieldset>
                <label>Email</label>
                <input type="text" placeholder="Email" ng-model="$ctrl.user.email">
            </fieldset>
            <fieldset>
                <label>Password</label>
                <input type="password" placeholder="Password" ng-model="$ctrl.user.password">
            </fieldset>
            <button type="button" ng-click="$ctrl.createUser()">Sign Up Now</button>
        </form>
    </div>
</div>