<div class="wrapper editUser">
    <div class="edit">
        <h1 class="edit-user-header">Edit User</h1>
        <form class="edit-user-form">
            <fieldset>
                <label>{{$ctrl.userinfo.username}}</label>
            </fieldset>
            <fieldset>
                <label>Current Password</label>
                <input type="password" placeholder="Current Password" ng-model="$ctrl.user.oldpassword">
            </fieldset>
            <hr align="left" width="100%">
            <fieldset>
                <label>New Password</label>
                <input type="password" placeholder="New Password" ng-model="$ctrl.user.password">
            </fieldset>
            <fieldset>
                <label>Email</label>
                <input type="text" placeholder="Email" ng-model="$ctrl.user.email">
            </fieldset>
            <fieldset>
                <label>Bio</label>
                <input type="text" placeholder="Bio" ng-model="$ctrl.user.bio">
            </fieldset>
            <fieldset>
                <label>City</label>
                <input type="text" placeholder="City" ng-model="$ctrl.user.city">
            </fieldset>
            <fieldset>
                <label>School</label>
                <input type="text" placeholder="School" ng-model="$ctrl.user.school">
            </fieldset>
            <button type="button" ng-click="$ctrl.updateUser()">Submit</button>
        </form>
    </div>
</div>