<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/ProjectSearch.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="../js/projectSearch.js"></script>
        <script src="../js/nav.js"></script>
        <title>CodeScheme - Search</title>
    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navigation">
            <ul class="nav test--nav" id="my-topnav">
                <li class="logo"><a class="logo" href="../html/dashboard.html">CodeScheme</a></li>
                <li><a href="../html/UserProfile.html">Profile</a></li>
                <li><a href="../html/projectProfile.html">Projects</a></li>
                <li><a href="../html/SignUpPage.html">Sign Up</a></li>
                <!-- Search Options -->
                <li>
                <div class="search-options">
                    <select>
                        <option value="Users">Users</option>
                        <option value="Projects">Projects</option>
                    </select>
                </div>
                </li>
                <!--Search Bar-->
                <li class="search">
                    <form action="/search.html" class="search-wrapper cf">
                        <input type="text" placeholder="Search" required="">
                        <button type="submit" onclick="window.location.href='../html/ProjectSearch.html'"> <span class="fontawesome-search"><i class="fa fa-search" aria-hidden="true"></i></span></button>
                    </form>
                </li>
                <!--End of Search Bar-->
                <li class="icon">
                    <a href="javascript:void(0);" onclick="navButton()">&#9776;</a>
                </li>
            </ul>
            <!--End of Navigation Bar-->
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="../js/nav.js"></script>

        <div ng-app="projectSearchApp" ng-controller="projectSearchController">
            <!-- Filters for searching projects -->
            <div class="filters">
                <h3>Filters</h3>
                <div class="filter_line">City <input type="text" ng-model="filter.city"></div>
                <div class="filter_line">School
                    <input name="School" type="text" ng-model="filter.school">
                </div>

                <h4>Skills</h4>
                    <div class="skills">
                        <div class="skill filter_line" ng-repeat="skill in filteredSkills">
                            {{ skill }}
                            <button class="remove_skill" ng-click="removeSkill(skill)">x</button>
                        </div>
                    </div>
                    <div class="filter_line">
                        <input type="text" ng-model="newSkill" placeholder="Add Skill">
                        <button ng-click="addFilterSkill(newSkill)">Add</button>
                    </div>
                <div class="filter_line"><button ng-click="filterProjects(filter)" class="apply_filter">Apply Filters</button></div>
            </div>

            <div class="search_results">
                <h1>SEARCH RESULTS</h1>
                <select name="Order By">
                    <option value="newest">Most Recent</option>
                    <option value="relevant">Most Relevant</option>
                </select>

                <!-- Show each search result in the projects found -->
                <div class="searched_projects">
                    <div class="project_search_result" ng-repeat="project in projects">
                        <a href="/html/projectProfile.html?title={{ project.title }}"><h3>{{ project.title }}</h3></a>
                        <p class="project_creator">Creator: <a href="/html/UserProfile.html?username={{ project.creators[0].user_id }}">{{ project.creators[0].user_id }}</a></p>
                        <p class="project_description">{{ project.short_description }}</p>
                        <p class="project_teammates_needed">
                            {{ project.num_members_found }}/{{ project.num_members_needed }} Teammates needed
                        </p>
                        <p class="project_tags">
                            <span ng-repeat="(i, skill) in project.skills_used">
                                #{{ skill.name }}
                            </span>
                        </p>
                        <p class="project_location">{{ project.city }} - {{ project.school }}</p></div>
                </div>
            </div>
        </div>

    </body>
</html>
